@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

/* reset */
a {
    color: inherit;
    text-decoration: none;
}

button,
input {
    outline: none;
    border: none;
}

/* common style */
.wrap {
    font-size: 15px;
    font-family: 'Noto Sans KR', sans-serif;
}
.hide {
    display: none !important;
}

/* header style */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

header .inner-header {
    /* background: orange; */
    width: 92%;
    margin: 0 auto;

    display: flex;
/* 부모에게 flex */
    justify-content: space-between;
    align-items: center;
 /* 중앙으로 이동하기 */
    font-weight: 700;
    color: #fff;
}
header .inner-header .logo {
    /* background: tomato; */
    flex: 1;
}
header .inner-header .logo a {
    display: block;
    width: 100%;
}
header .inner-header .logo a img {
    height: 60px;
}

header .inner-header .intro-text {
    /* background: greenyellow; */
    flex: 4;
    margin-left: 40px;
    text-transform: uppercase;
/* 대소문자 변환 */
}
header .inner-header .menu-open {
    /* background: skyblue; */
    flex: 1;
    font-size: 16px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .inner-header .menu-open .lnr-menu {
    font-size: 33px;
    margin-left: 15px;
}

header .gnb {
    background: #000;
    color: #666;
    font-size: 40px;
    padding: 70px 100px;
    box-sizing: border-box;

    position: fixed;
    right: -100%; /* transiton을 이용해서 메뉴창을 슬라이드처러 옮김*/
    top: 0;
    height: 100vh;

    display: flex;
    flex-direction: row-reverse;
}

header .gnb .close {
    display: block;
    color: #fff;
}
header .gnb ul {
    margin-right: 200px;
}
header .gnb ul li {
    font-weight: 700;
    line-height: 1.7;
}
header .gnb ul li:hover,
header .gnb ul li.active
{
    color: #fff;
}


/* section visual style */ 

section.visual .slide li {
    width: 100%;
    height: 100vh;
    /* background: orange; */
    overflow: hidden;
    position: relative;
}

section.visual .slide li img {
    width: 100%;
    position: absolute;
    top: -50px;
}

section.visual .slide li .txt {
    /* background: red; */
    color: #fff;
    font-size: 18px;

    position: absolute;
/* 이미지에 가려지니까 포지션 잡아준다 */
    left: 10%;
    top: 50%;
    transform: translateY(-50%);

    text-shadow: 3px 3px 5px rgba(0,0,0, 0.8);
}

section.visual .slide li .txt h3 {
    margin: 30px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.3;
}

section.visual .slide li .scroll {
    /* background: orange; */
    position: absolute;
    left: 50px;
    bottom: 10%;
    font-size: 14px;
    font-weight: 700;
    color: #ccc;
    transform: rotate(-90deg);
}

/* section contents style */
section.contents {
    background: #1b1b1b;
    color: #fff;
    padding: 120px 0;
}

/* > .main-text */
section.contents .main-text {
    /* background: tomato; */

    width: 80%;
    margin: 0 auto;
    font-size: 25px;

    display: flex;
}
section.contents .main-text h3 {
    /* background: red; */
    flex: 1;
    font-weight: 700;
}
section.contents .main-text p {
    /* background: blue; */
    flex: 2;
    font-size: 23px;
    line-height: 1.4;
}

section.contents .main-text p span {
    display: block;
    font-size: 20px;
    color: #999;
    margin-top: 30px;
}
























